body,ul,li,p{
	margin: 0;
	padding: 0;
}
li{list-style: none;}
a{text-decoration: none;}
span{
    display: inline-block;
	font-size: .4rem;
	font-family: "Microsoft YaHei", serif;
	color: #e4585a;
}
html,body{
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	font-size: 50px;
}
.swiper-container{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.swiper-slide{
	width: 100%;
	height: 100%;
}
.page{
	overflow: hidden;
	position: relative;
}
.music-btn{
	display: block;
	background-image: url(../images/music.png );
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	position: fixed;
	right: .3rem;
	top:.1rem;
	z-index: 100;
	width:.55rem;
	height:.55rem;
	
}
.arrow{position: fixed;width:20%;left:40%;bottom:6px;z-index:100;}
.page{
	background-image: linear-gradient(#daf2d0,#a2e287);
}
.swiper-container1 {
	position: absolute;
	top:1rem;
	left: 0;
    width: 100%;
    height: 4rem;
    margin:0 auto;
}  
.swiper-container2 {
	position: absolute;
	top:6rem;
	left: 0;
    width: 100vw;
    height: 3rem;
    margin:0 auto;
}  
.top{
	position: relative;
	left: 0;
    top: 0;
    width: 100%;
    height: 1rem;
    background: url(../images/top.png) no-repeat;
   -webkit-background-size: 100%;
    background-size: 100%;
}
.appleMid{
	position: relative;
	left: 0;
	top: 2.5rem;
	height: 3.5rem;
	background: url(../images/applemid.png) no-repeat;
	-webkit-background-size: 100%;
	background-size: 100%;
}
.page1_p{
	
	position: absolute;
	left: 2.5%;
	top: 7.8rem;
	font-size: .35rem;
	/*color: #fff;*/
	line-height: .5rem;
	font-weight: bold;
	width: 95%;
	color: #8d1215;
	text-shadow: 0 .02rem .2rem #ccc;

}
.hong{
	position: relative;
	left: .4rem;
	top: -2.5rem;
	height: 1.5rem;
	background: url(../images/hong.png) no-repeat;
	-webkit-background-size: 100%;
	background-size: 100%;
	width: 1.5rem;

}
.fu{
	position: relative;
	left: 2.6rem;
	top: -4.5rem;
	height: 2rem;
	background: url(../images/fu.png) no-repeat;
	-webkit-background-size: 100%;
	background-size: 100%;
	width: 1.5rem;

}
.shi{
	position: relative;
	left: 4.6rem;
	top: -6rem;
	height: 1.5rem;
	background: url(../images/shi.png) no-repeat;
	-webkit-background-size: 100%;
	background-size: 100%;
	width: 1.5rem;

}
.page2{
	width:100%;
	background-image: linear-gradient(#e7e5e8,#dfd5d3);
}
.page2 .p2p1{
	background: url(../images/child.jpg) no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
.page2 .p2p2{
	background: url(../images/adult.jpg) no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
.page2 .p2p3{
	background: url(../images/old.jpg) no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
.page2 .p2p4{
	background: url(../images/fuzi.jpg) no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}

.page2 .p2p5{
	background: url(../images/dream.jpg) no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
.page2 .p2p6{
	background: url(../images/xizi.jpg) no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
.page2 .p2p7{
	background: url(../images/pingan.jpg) no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
.page2 .p2p8{
	background: url(../images/sell.jpg) no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
.page2 .p2p9{
	background: url(../images/zi.jpg) no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
/*.p22{
	width: 70%;
	height: 2rem;
}*/
.page2 .p2apple1{
	background: url(../images/1.jpg) no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
.page2 .p2apple1{
	background: url(../images/1.jpg) no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
.page2 .p2apple2{
	background: url(../images/2.jpg) no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
.page2 .p2apple3{
	background: url(../images/3.jpg) no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
.page2 .p2apple4{
	background: url(../images/4.jpg) no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
.page2 .p2apple5{
	background: url(../images/5.jpg) no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
.page3 .firWord{
	position: absolute;
	top:.8rem;
	left:24%;

}
.page3 .secWord{
	position: absolute;
	top: 1.6rem;
    left: 8%;
}
.page3 .map{
	position: absolute;
    left: 0.4rem;
    top: 3rem;
    height: 4.5rem;
    background: url(../images/map.png) no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
    width: 4.5rem;
}
.page3 .strip{
	position: absolute;
    left: 1rem;
    top: 3.2rem;
    height: 7.5rem;
    background: url(../images/strip.gif) no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
    width: 6.5rem;
}
.page3 .myAddress{
	position: absolute;
	top: 3.8rem;
    left: 84%;
    font-size: .2rem;
}
.page3 .yourAddress{
	position: absolute;
	top: 6.8rem;
    left: 60%;
    font-size: .2rem;
}
.page3 .line3{
	position: absolute;
    top: 8rem;
    left: 21%;
    font-size: .3rem;
}
.page3 .line4{
	position: absolute;
    top: 8.6rem;
    left: 10%;
    font-size: .3rem;
}
.page4 .line1{
	position: absolute;
	top: 1rem;
    left: 30%;
    font-size: .6rem;
}
.page4 .line2{
	position: absolute;
    top: 2rem;
    left: 8%;
    font-size: .3rem;
}
.page4 .apple1{
	position: absolute;
    left: .2rem;
    top: 3rem;
    height: 5rem;
    background: url(../images/apple1.jpg) no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
    width: 6rem;
}
.page5 .p{
	font-size: .4rem;
	color: #e4585a;
}
.page5 span{
	font-size: 1rem;
	color:#f1655b;
}
.page5 .wish{
	position: absolute;
    left: 2.2rem;
    top: 2rem;
    height: 3rem;
    background: url(../images/apple3.png) no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
    width: 3rem;
}
.page5 .inf{
	position: absolute;
    left: 2.2rem;
    top: 6rem;
    height: 3rem;
    background: url(../images/inf.png) no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
    width: 3rem;
}
.page5 .p1{

}
.page5 .p2{
	position: absolute;
    top: 1.5rem;
    left: 0.2rem;
}
.page5 .p3{
	position: absolute;
    top: 5.2rem;
    left: 0.2rem;
}
.page5 .sup{
	position: absolute;
    left: 65%;
    top: .4rem;
    height: 1.5rem;
    background: url(../images/sup.jpg) no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
    width: 1.5rem;
}
.page.page6{
	color: white;
    background-image: linear-gradient(#000,#000);
}
.page6 .span6{
	position: absolute;
    top: 1rem;
    left: 1.8rem;
}
.page6 .p61{
	position: absolute;
    top: 1.8rem;
    left: 1.4rem;
    font-size: 0.6rem;
	font-family: "Microsoft YaHei", serif;

}
.page6 .p62{
	position: absolute;
    top: 2.7rem;
    left: 0.99rem;
    font-size: 0.5rem;
}
.page6 .apple6{
	position: absolute;
    left: 24%;
    top: 3.8rem;
    height: 3.5rem;
    background: url(../images/apple6.jpg) no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
    width: 3.5rem;
}
.page6 .bottom{
	position: absolute;
    left: 24%;
    top: 7.4rem;
    height: 3.5rem;
    background: url(../images/bottom.png) no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
    width: 3.5rem;
}
.page6 .buy{
	position: absolute;
    left: 20%;
    top: 8rem;
    height: 3.5rem;
    background: url(../images/buy.png) no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
    width: 3.5rem;
}
.page7 .p71{
	position: absolute;
    top: .5rem;
    left: .9rem;
    border: 2px solid;
    border-radius: .2rem;
    width: 2rem;
    height: 1rem;
    font-size: .7rem;
    line-height: 1rem;
    font-family: "Microsoft YaHei", serif;
    text-align: center;
	font-family: "Microsoft YaHei", serif;
	
}
.page7 .p72{
	position: absolute;
    top: .5rem;
    left: 3rem;
    border: 2px solid white;
    border-radius: .2rem;
    width: 2rem;
    height: 1rem;
    font-size: .7rem;
    color: white;
    background-color: black;
    line-height: 1rem;
    font-family: "Microsoft YaHei", serif;
    text-align: center;
	font-family: "Microsoft YaHei", serif;
	
}
.page7 .p73{
	font-size: .4rem;
    position: absolute;
    top: 2rem;
    left: 2rem;
}
.page7 .p74{
	position: absolute;
    top: 5rem;
    left: 0.9rem;
    font-size: .45rem;
}
.page7 span{font-size: .35rem;}
.page7 .span71{
	position: absolute;
    top: 5.6rem;
    left: 42%;
}
.page7 .span72{
	position: absolute;
    top: 6.2rem;
    left: 32%;
}
.page7 .span73{
	position: absolute;
    top: 6.8rem;
    left: 42%;
}
.page7 .span74{
	position: absolute;
    top: 7.4rem;
    left: 30%;
}
.page7 .span75{
	position: absolute;
    top: 8rem;
    left: 30%;
}
.page7 .myE{
	position: absolute;
    left: 14%;
    top: 2.6rem;
    height: 2rem;
    /*background: url(../images/my.png) no-repeat;*/
    /*-webkit-background-size: 100%;
    background-size: 100%;*/
    width: 2rem;
    -webkit-touch-callout:default;
}
.page7 .sisE{
	position: absolute;
    left: 50%;
    top: 2.6rem;
    height: 2rem;
    /*background: url(../images/sister.png) no-repeat;*/
    /*-webkit-background-size: 100%;
    background-size: 100%;*/
    width: 2rem;
}
.page7 img{
	height: 2rem;
	width: 2rem;
}
